//Colors

$color-primary: #7eb693;
$color-secondary: #ffa858;
$color-body: #274c5b;

$color-white: #ffffff;
$color-gray-0: #fcfcfc;
$color-gray-1: #f7f7f7;
$color-gray-3: #d4d4d4;
$color-gray-4: #b8b8b8;
$color-gray-5: #525c60;
$color-light-black: #010101;
$color-black: #000000;
$shadow: 1.6rem 2.4rem 5.2rem -0.8rem rgba($color-black, 0.15);
