.footer {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 6.4rem;
  grid-template-columns: 25% 1fr 25%;
  padding: 0 4rem;

  // Left section

  &__left {
    text-align: end;
  }

  &__list-contact {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 4.8rem;
  }

  // Center section

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4.8rem;
    padding-top: 3.2rem;
    position: relative;
    border-left: 1px solid $color-gray-3;
    border-right: 1px solid $color-gray-3;
  }

  &__logo {
    line-height: normal;
    width: 20rem;
    margin-bottom: 4rem;
  }

  &__socials {
    margin-top: 6.4rem;
  }

  // Right section

  &__right {
    text-align: start;
  }

  &__list-pages {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 4.8rem;
  }

  // Copyright

  &__copyright {
    width: 110%;
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
    padding: 1.6rem;
    position: relative;
    border-top: 1px solid $color-gray-3;
  }
}
