.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem 4rem;

  &__logo {
    width: 20rem;
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 4rem;
  }

  &__item {
    &:first-child {
      color: $color-primary;
    }
  }

  &__link {
    &:link,
    &:visited {
      transition: all 0.2s;
    }

    &:hover,
    &:focus {
      border-bottom: 2px solid currentColor;
    }
  }
}
