.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem 4rem;

  &__logo {
    width: 20rem;
  }

  &__list {
    display: flex;
    gap: 4rem;
  }

  &__item {
    &:first-child {
      color: $color-primary;
    }
  }

  &__logo-link {
    order: 1;
  }

  &__navigation-bg,
  &__menu,
  &__button {
    order: 2;
  }

  &__link {
    &:link,
    &:visited {
      transition: all 0.2s;
    }

    &:hover,
    &:focus {
      outline: none;
      border-bottom: 2px solid currentColor;
    }
  }

  // Hide burger menu items on bigger screens

  &__socials,
  &__button,
  &__checkbox {
    display: none;
  }

  // Large screens breakpoint

  @media only screen and (max-width: $bp-large) {
    position: relative;

    & > * {
      z-index: 5;
    }

    &__menu {
      display: none;
      position: absolute;
      top: 13.6rem;
    }

    &__list {
      flex-direction: column;
    }

    &__socials {
      position: absolute;
      bottom: 4.8rem;
      left: 50%;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.8rem;
      width: 4.8rem;
      cursor: pointer;
    }

    &__navigation-bg {
      height: 4.8rem;
      width: 4.8rem;
      border-radius: 50%;
      position: fixed;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      background-color: $color-white;
      z-index: 4;
      transition: 0.3s width, 0.3s height ease-out;
      opacity: 0;
    }

    // Burger icon

    &__icon {
      position: relative;

      &,
      &::before,
      &::after {
        width: 3.6rem;
        height: 1.5px;
        background-color: $color-body;
        transition: 0.2s transform ease-out;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }

      &::before {
        top: -1.2rem;
      }
      &::after {
        top: 1.2rem;
      }
    }

    // Burger menu items appear and are positioned to remain fixed

    &__checkbox:checked ~ &__menu,
    &__checkbox:checked ~ &__logo-link {
      display: block;
      position: fixed;
    }

    &__checkbox:checked ~ &__button,
    &__checkbox:checked ~ &__socials {
      display: flex;
      position: fixed;
    }

    &__checkbox:checked ~ &__logo-link {
      position: fixed;
      top: 4.8rem;
    }

    &__checkbox:checked ~ &__button {
      top: 4.8rem;
      right: 4rem;
    }

    &__checkbox:checked ~ &__menu {
      animation: 0.25s moveLeft ease-out 0.3s backwards;
    }

    &__checkbox:checked ~ &__socials {
      animation: 0.25s liftUp ease-out 0.3s backwards;
      transform: translate(-50%, 0);
    }

    &__checkbox:checked ~ &__navigation-bg {
      height: 300vh;
      width: 300vw;
      opacity: 1;
    }

    // Transform burger icon to x icon

    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }

  @media only screen and (max-width: $bp-small) {
    padding: 1.6rem;

    &__logo {
      width: 16rem;
    }

    // Burger icon

    &__icon {
      &,
      &::before,
      &::after {
        width: 2rem;
        height: 1px;
      }

      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }

    // Position items to smaller screen

    &__checkbox:checked ~ &__logo-link {
      top: 1.6rem;
    }

    &__checkbox:checked ~ &__button {
      top: 1.6rem;
      right: 1.6rem;
    }

    &__socials {
      bottom: 1.6rem;
    }
  }
}
