.socials {
  display: flex;
  gap: 2.4rem;

  &__icon {
    padding: 2rem;
    border-radius: 50%;
    background-color: $color-gray-1;
    transition: 0.2s all ease;
  }

  &__icon:hover,
  &__icon:focus {
    outline: none;
    transform: scale(1.15);
  }
}
