// General reset

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; //1 rem = 10px

  @media only screen and (min-width: $bp-largest) {
    font-size: 100%; // 1 rem = 16px;
  }
}

// Links

.link {
  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.link-img {
  line-height: 0;
}

// Lists

.list {
  list-style: none;
}
