// General reset

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; //1 rem = 10px
}

// Links

.link {
  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

// Lists

.list {
  list-style: none;
}
