// General

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.36px;
  color: $color-body;
}

// Body

.body-1 {
  font-size: 1.8rem;

  &--gray {
    color: $color-gray-5;
  }
}

.body-2 {
  font-size: 2rem;
}

.body-3 {
  font-size: 2rem;
  font-weight: 700;
}

// Heading

.heading-primary {
  font-weight: 700;
  font-size: 7rem;
  line-height: 8.4rem;
}

.heading-secondary {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;

  &--white {
    color: $color-white;
  }
}

.heading-tertiary {
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.8rem;

  &--white {
    color: $color-white;
  }
}

// Display

.display {
  font-family: YellowTail, sans-serif;
  font-size: 3.6rem;
  line-height: 6.4rem;
  text-transform: capitalize;

  &--primary {
    color: $color-primary;
  }

  &--white {
    color: $color-white;
  }
}

// Subtitle

.subtitle-1 {
  font-size: 2.2rem;
}

.subtitle-2 {
  font-size: 2.4rem;
}

.subtitle-3 {
  font-size: 2.4rem;
  font-weight: 700;
}

.subtitle-4 {
  font-size: 2.6rem;
  font-weight: 700;
}

// Label

.label-1 {
  font-size: 1.4rem;
  line-height: 1.6rem;

  &--gray {
    color: $color-gray-5;
  }
}

.label-2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
}

// Links

.link {
  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}
