body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 3.2rem;
  color: $color-body;
}

.heading-primary {
  font-weight: 700;
  font-size: 7rem;
  line-height: 8.4rem;
}

.heading-tertiary {
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.8rem;

  &--white {
    color: $color-white;
  }
}

.display {
  font-family: YellowTail, sans-serif;
  font-size: 3.6rem;
  line-height: 6.4rem;
  text-transform: capitalize;

  &--primary {
    color: $color-secondary;
  }

  &--white {
    color: $color-white;
  }
}
