.hero {
  display: grid;
  justify-content: start;
  align-content: center;

  height: 75vh;

  background-image: url("../assets/img/hero-background.jpg");
  background-size: cover;

  &__content {
    max-width: 50rem;
    margin-left: 4rem;
  }

  &__heading {
    margin-bottom: 3.6rem;
  }
}

.offers {
  display: flex;
  gap: 3rem;
  margin: 9.6rem 4rem;
}

.about-us {
  display: flex;
  gap: 3rem;
  align-items: center;
  background-color: $color-gray-1;
  padding: 8rem 4rem;

  &__image {
    width: 50%;
    height: auto;
  }

  &__heading {
    margin-bottom: 2.4rem;
  }

  &__features {
    margin: 5.6rem 0;
  }
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.6rem 4rem;

  &__cards {
    @include cardsGridDisplay;
    width: 100%;
    margin-top: 4rem;
  }
}

.testimonials {
  display: flex;
  align-items: center;
  background-color: $color-gray-0;
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    height: 11.2rem;
    width: 11.2rem;
    border-radius: 50%;
    margin-top: 6.4rem;
    margin-bottom: 1.6rem;
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 3.2rem;
  }

  &__icon-star {
    height: 2.4rem;
    width: 2.4rem;
  }

  &__message {
    margin-bottom: 2.4rem;
  }

  &__name {
    margin-bottom: 0.8rem;
  }
}

.offer-products {
  display: grid;
  grid-template-columns: repeat(2, max-content) 1fr;
  background-color: $color-body;
  padding: 8rem 4rem;

  &__display {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__heading {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  &__button {
    grid-column: 3 / -1;
    grid-row: 1 / 3;
    justify-self: end;
    align-self: end;
  }

  &__cards {
    @include cardsGridDisplay;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin-top: 4.8rem;
  }
}

.eco-friendly {
  display: grid;
  grid-template-columns: [img-start] calc(57vw - 13.3rem) [content-start] 13.3rem [img-end] 1fr [content-end];

  &__image {
    grid-column: img-start / img-end;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    grid-column: content-start / content-end;
    grid-row: 1 / 2;
    background-color: $color-white;
    border-radius: 3.2rem;
    padding: 3.6rem 3.5rem 6.8rem 4.8rem;
    margin: 5.6rem 4rem;
    margin-left: 0;
    box-shadow: 1.6rem 2.4rem 5.2rem -0.8rem rgba($color-black, 0.15);
  }

  &__heading {
    margin-bottom: 5.6rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
}
